/* Cette feuille de style ne contient que le style de la barre de navigation */

/*
*
*/
/* Menu de navigation du site */

.navigation, .navigation ul {	/* Style standard et pour les ul */
	/* Là je fait remonter notre menu vers le haut */
	margin: 0px;
	/* On supprime des marges internes */
	padding: 0;
	/* On supprime les carractère de liste */
	list-style: none;
	/* On centralise le teste du menu */
	text-align: center;
}

.navigation li { /* Style qui s'applique au balise li */
	/* On centralise le teste dans les balises li */
	text-align: center;
	/* On affiche le menu sur une seule ligne */
	display: inline-block;
	/* La position par rapport à l'écran */
	position: relative;
	/* Taille et police de caractère du texte du menu */
	font-size: 30px;
	font-family: "Savoye LET";
}

.navigation a {	/* Les balises de lien */
	/* On enlève la couleur violette */
	text-decoration: none;
	/* On les affiche en block, l'un après l'autre */
	display: block;
	width: 150px; /* Largeur */
	height: 35px;	/* Hauteur */
	line-height: 50px;
	color: white;	/* Couleur du texte */
}

.navigation ul { /* L'effet de style des balises ul */
	left: -999em;
	position: absolute
}

/* Le sous menu */

.navigation li:hover > ul {
	/* Effet de survoler les balises ul */
	/* Je fait désecendre un peu le sous menu */
	margin-top: 5px;
	left: 0;
	font-size: 30px;
	background-color: gray;
}

.navigation li li:hover > ul {
	left: 150px;
	top: 0;
}

.navigation a:hover { /* Effet de survoler les balises de lien */
	color: #666;
	background: #ccc
}

/* Fin du style du menu centrale et du sous menu */
/*
*
*/